.csa {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.csa-info-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    widtH:45%;
}
.csa-title {
    font-size: 28px;
    font-weight: 600;
}
.csa-txt {
    width:100%;
    text-align: justify;
    font-size: 15px;
}
.csa-img {
    width:480px;
height: 560px;
object-fit: cover;
object-position: center;
}
.csa-icn-ctn {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 50px;;
}
.csa-icn-a {
    text-decoration: inherit;
    width:40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
}
.csa-icn {
    position: absolute;
    top:0;right:0;left:0;bottom:0;
    margin: auto;
    width:fit-content;
    height: fit-content;
    font-size: 18px;

}
.csa-icn-a:hover {
    opacity:  .7;
}

@media (max-width: 990px) {
    
.csa-img {
    width:45%;
}
.csa-info-ctn {
    widtH:48%;
}
}
@media (max-width: 768px) {
    .csa {
        gap:20px;
    }
    .csa-img {
        width:100%;
    height: 400px;
    object-position: top;
    }
    .csa-info-ctn {
        widtH:100%;
    }
    
.csa-icn-ctn {
    margin-top: 10px;;
}
    }

    @media (max-width: 480px) {
        .csa {
            gap:30px;
        }
    }